@model RevSliderModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden"/>

<div class="content">
    <div class="form-horizontal">
        
        <nop-tabs id="revSlider-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Plugins.Widgets.RevolutionSlider.RevSlider.Info")" asp-default="true">@await Html.PartialAsync("~/Plugins/Widgets.RevolutionSlider/Views/_CreateOrUpdate.Info.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-products" asp-title="@T("Plugins.Widgets.RevolutionSlider.RevSlider.Products")">@await Html.PartialAsync("~/Plugins/Widgets.RevolutionSlider/Views/_CreateOrUpdate.Products.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-urlrecords" asp-title="@T("Plugins.Widgets.RevolutionSlider.RevSlider.UrlRecords")">@await Html.PartialAsync("~/Plugins/Widgets.RevolutionSlider/Views/_CreateOrUpdate.UrlRecords.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-widgetzones" asp-title="@T("Plugins.Widgets.RevolutionSlider.RevSlider.WidgetZones")">@await Html.PartialAsync("~/Plugins/Widgets.RevolutionSlider/Views/_CreateOrUpdate.WidgetZones.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-schedule" asp-title="@T("Plugins.Widgets.RevolutionSlider.RevSlider.Scheduling")">@await Html.PartialAsync("~/Plugins/Widgets.RevolutionSlider/Views/_CreateOrUpdate.Scheduling.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-settings" asp-title="@T("Plugins.Widgets.RevolutionSlider.RevSlider.Settings")">@await Html.PartialAsync("~/Plugins/Widgets.RevolutionSlider/Views/_CreateOrUpdate.Settings.cshtml", Model)</nop-tab>

        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "revSlider-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}